<div class="container-xl">
  <div class="text-center">
    <br />
    <img src="/resources/drippoollogo.png" style="max-width: 200px;">
    <br /><br />

    <h2>Privacy Policy</h2>

    <br><br>

    <div class="text-left">

      <p>DRIPscan is a community blockchain explorer for the DRIP network.</p>

      <h4>DATA COLLECTION</h4>
      <p>This website does not collect personal information. We do not use cookies for tracking purposes.</p>

      <br>

      <h4>BLOCKCHAIN DATA</h4>
      <p>All transaction and address data displayed on this website is publicly available on the DRIP blockchain. This explorer simply provides a user-friendly interface to view this public data.</p>

      <br>

      <h4>SERVER LOGS</h4>
      <p>Standard server logs may temporarily record IP addresses for security and operational purposes. These logs are not shared with third parties.</p>

      <br>

      <h4>CONTACT</h4>
      <p>For questions, join our <a href="https://discord.gg/vKGG89y3" target="_blank">Discord</a>.</p>

    </div>
  </div>
</div>
