<div class="container-xl">
  <div class="text-center">
    <h2>DRIP Unit Converter</h2>
  </div>

  <div class="row justify-content-center">

    <form [formGroup]="form">
      <div class="input-group input-group-lg mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">DRIP</span>
        </div>
        <input type="text" inputmode="numeric" class="form-control" formControlName="bitcoin" (input)="transformInput('bitcoin')" (click)="selectAll($event)">
        <app-clipboard [button]="true" [text]="form.get('bitcoin').value" [class]="'btn btn-lg btn-secondary ml-1'"></app-clipboard>
      </div>

      <div class="input-group input-group-lg mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">drops</span>
        </div>
        <input type="text" inputmode="numeric" class="form-control" formControlName="satoshis" (input)="transformInput('satoshis')" (click)="selectAll($event)">
        <app-clipboard [button]="true" [text]="form.get('satoshis').value" [class]="'btn btn-lg btn-secondary ml-1'"></app-clipboard>
      </div>
    </form>

  </div>

  <br>

  <div class="row justify-content-center">
    <div class="bitcoin-satoshis-text">
      <span [innerHTML]="form.get('bitcoin').value | bitcoinsatoshis"></span> 
      <span class="sats">drops</span>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="symbol">
      1 DRIP = 100,000,000 drops
    </div>
  </div>

</div>