<div class="container-xl">
  <div class="text-center">
    <br />
    <img src="/resources/drippoollogo.png" style="max-width: 200px;">
    <br /><br />

    <h2>Trademark Notice</h2>

    <br><br>

    <div class="text-left">

      <p>DRIP is a community cryptocurrency project.</p>

      <h4>DRIP BRANDING</h4>
      <p>The DRIP name and logo are used to identify the DRIP cryptocurrency and its community projects.</p>

      <br>

      <h4>MEMPOOL SOFTWARE</h4>
      <p>This explorer is based on The Mempool Open Source Project®. Mempool, mempool.space, and related marks are trademarks of Mempool Holdings S.A. de C.V. This website is independently operated and is not affiliated with Mempool Holdings.</p>

      <br>

      <h4>OPEN SOURCE</h4>
      <p>The software powering this explorer is open source and available under the GNU Affero General Public License v3.</p>
      <ul>
        <li><a href="https://github.com/mempool/mempool" target="_blank">Mempool Open Source Project</a></li>
        <li><a href="https://github.com/Digital-Reserve/DRIP" target="_blank">DRIP on GitHub</a></li>
      </ul>

    </div>
  </div>
</div>
